img{
  width: 100%;
  height: 200px;
}

.App {
  width: 100%;
  height: 200vh;
  background-color: navy;
}

#titleAndSelectImg{
  display: grid;
  justify-content: center;
  align-content: center;
}
#inputFile input{
  position: absolute;
  width: 200px;
  height: 50px;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#inputFile{
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: black;
  color: blue;
  border-radius: 25px;
}
#inputFile:hover{
  transition: 0.3s;
  color: rgb(0, 89, 255);
  padding: 1px;
}
#main{
  box-sizing: border-box;
  width: 100%;
  display: grid;
  justify-content: center;
}
#eachContainerOfImg{
  margin: 50px 0;
}
#itemContainer{
  height: 400px;
  margin-top: 10%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: center;
  text-align: center;
}

#itemContainerWithoutRangeInput{
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  
}

#inputRange{
  margin-top: 130px ; 
}
#imgContainer{
  width: 300px;
  height: 200px;
}
#leftButton, #rightButton{
  cursor: pointer;
  width: 60px;
  height: 200px;
  background-color: black;
  color: rgb(0, 0, 240);
  border: none;
  font-size: 20px;
  font-family: bold;
}
#leftButton{
  border-radius: 20px 0 0 20px ;
} 

#rightButton{
  border-radius:  0 20px  20px 0;
}
